@import url('https://fonts.googleapis.com/css?family=Amiri');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&subset=latin-ext');

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.7rem;
}

#root {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center center;
  height: 100vh;
}

.underLine {
  font-family: 'Amiri', serif;
}

span.ne-svira {
  color: inherit;
}

.oznaceno {
  color: red;
}

span.svira {
  font-family: 'Amiri', serif;
  /* display: inline-block; */
  /* border: 1px solid #ddd; */
  /* padding: 0 .25em; */
  /* border-radius: .15em; */
  /* padding-top: .35em; */
  /* margin-left: .5rem; */
  color: green;
  font-weight: bold;

  .oznaceno {
    /* color: green; */
  }
}

.bosanski {
  font-size: 1.8rem;
  padding: 0 .25rem;
}

span.arapski {
  font-family: 'Amiri', serif;
  padding: 0 .25em;
  border-radius: .15em;
  line-height: 2.5em;
}

.text-center.col > span {
  display: inline-block;
}

span.arap-red {
  font-family: 'Amiri', serif;
  color: red;
}

.opisLekcije {
  padding: .8rem;
  font-size: 1.45rem;
  text-align: justify;
}

.lekcije-wrapper {
  border: 20px solid;
  border-image-slice: 24 33 25 34; border-image-width: 20px 20px 20px 20px; border-image-outset: 0px 0px 0px 0px; border-image-repeat: repeat repeat;
  border-image-source: url("https://i.imgur.com/t6U68wJ.jpg");
  padding: .5em 1em;
  position: relative;
}

footer.mainfooter {
  padding-top: .8em;
  border-top: 1px solid #ddd;
  margin-top: .5em;
}

.homearea {
  font-size: initial;

    a:hover {
      text-decoration: none;
    }

}

.card-body {
  &:hover {
    background: #f6f6f6;
  }
}

span.imelekcije {
  float: right;
  font-size: 1rem;
  font-weight: 400;
}

/* MENI */
nav.mainmenu {
  margin-bottom: 1em;
}

ul.mainmenulist {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin-left: -1em;
  margin-right: -1em;
  margin-top: -0.5em;
  margin-bottom: 0;

  li {
    background: green;
    color: white;
    padding: .25em 0;

    &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
      border-right: 1px solid white;
    }

    &:hover {
      background: #3CA84B;
    }
  }
}

ul.bottomMenu {
  list-style-type: none;
  padding: 0;
  background: #f2f2f2;

  li {
      padding: 0.25em;

      &:nth-child(1), &:nth-child(2), &:nth-child(3) {
        border-right: 1px solid white;
        border-bottom: 1px solid white;
      }
  }

  a.menulink {
      color: #666;
  }
}

.bottomMenuMain {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  position: absolute;
  width: 100%;
  z-index: 1;
  margin-left: -1em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

/* MENI */
/* nav.mainmenu {
  position: relative;
  margin-left: -1em;
  margin-right: -1.03em;
  margin-top: -.5em;
  margin-bottom: 1rem;

  li.bottommenuitem {
      background: #f2f2f2 !important;
      color: #28a745 !important;

      &:hover {
        color: green !important;
        cursor: pointer;
      }
  }

  ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    list-style-type: none;
    padding: 0;
    margin: 0;
    background: #f2f2f2;

    li {
      background: green;
      color: white;
      text-align: center;
      padding: 0.3em 0;
      font-size: 1.25rem;
      border-right: 1px solid white;

      &:nth-child(5) {
        border-right: 0;
      }

      &:hover {
        background: #28a745;
      }
    }
  }
} */